<div>
    <br>
    <div class="container">
        <div class="container">
            <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center" class="content">
                <div class="blocks">
                    <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
                        <mat-icon>add</mat-icon> Add Pedidos
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div fxLayout="row" fxLayoutAlign="center center" class="content">
                <mat-card class="card">
                    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                        <h4>Status</h4>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-tab-group>
                            <mat-tab label="Servir"> Servir </mat-tab>
                            <mat-tab label="Servido"> Servido </mat-tab>
                            <mat-tab label="Cozinha"> Cozinha </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>