.card {
    min-width: 80%;
}

a {
    cursor: pointer;
}

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
    display: flex;
    flex: 1; /*grow*/
    cursor: pointer;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
    
  }

  .text-center, a{
      align-content: center;
      text-decoration: none;
      color: chocolate;
      font-size: large;
  }

  